a.LINKurl:link {
	color: #585858;
	text-decoration: none;
}
a.LINKurl:visited {
	color: #585858;
	text-decoration: none;
}
a.LINKurl:active {
	color: #585858;
	text-decoration: none;
}
a.LINKurl:hover {
	color: #D56C01;
	text-decoration: none;
}
/* Body */
body {
	margin: 0px;
	background-color: #454545;
	overflow: auto;
	padding-top: 0px;
	position: relative;
	font-size: .7em;
	font-family: 'Consolas', 'monospace';
	font-weight: normal;
}
#wrapper {
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 980px;
	position: relative;
	overflow: hidden;
	background-image: url('../theme/bdyfiller.jpg');
	background-repeat: repeat-y;	
}
#header {
	background-image: url('../theme/bannerlogo2.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 241px;
	position: relative;
	overflow: hidden;
}
#menu {
	margin: 5px auto 0px auto;
	padding: 0px;
	width: 936px;
	height: 44px;
	position: relative;
	overflow: visible;
	list-style-type: none;
}
#menu ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#menu ul li {
	padding: 0px;
	margin: 0px 3px 0px 3px;
	width: 150px;
	height: 44px;
	position: relative;
	overflow: hidden;
	float: left;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	text-decoration: none;
	color: #666666;
}
a.hbutton {
	background: url('../theme/h-butns.png') no-repeat 0px 0px;
	width: 150px;
	height: 44px;
	display: block;
	text-decoration: none;
	color: #666666;
}
a.hbutton:hover {
	background-position: 0px -44px;
	text-decoration: none;
	color: #D56C01;
}
a.hbutton:active {
	background-position: 0px -44px;
	text-decoration: none;
	color: #666666;
}
#container {
	padding: 0px;
	margin: 0px;
	width: 980px;
	position: relative;
	overflow: hidden;
}
#col-l {
	margin: 0px 0px 0px 20px;
	padding: 0px;
	width: 624px;
	position: relative;
	overflow: hidden;
	float: left;
}
#col-r {
	margin: 0px 20px 0px 0px;
	padding: 0px;
	width: 308px;
	position: relative;
	overflow: hidden;
	float: right;
}
#footer {
	background-image: url('../theme/footer-lg.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	width: 980px;
	height: 140px;
	position: relative;
	overflow: hidden;
	clear: left;
}
#ft-Info {
	color: #585858;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
}
/* Content */
.CntBox {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	position: relative;
	width: 624px;
	overflow: hidden;
}
.CntHead {
	background-image: url('../theme/cnttop.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	width: 624px;
	height: 36px;
	position: relative;
	overflow: hidden;
}
.CntHeadTitle {
	margin: 12px auto 0px auto;
	font-weight: bold;
	color: #737373;
	text-decoration: none;
	text-align: right;
	padding: 0px;
	width: 600px;
	position: relative;
	height: 16px;
	overflow: hidden;
	list-style-type: none;
}
.CntFiller {
	background-image: url('../theme/cntmid.jpg');
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	width: 624px;
	position: relative;
	overflow: hidden;
}
.CntFooter {
	background-image: url('../theme/cntbtm.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	width: 624px;
	height: 23px;
	position: relative;
	overflow: hidden;
}
.CntInfo {
	color: #585858;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 600px;
	overflow: hidden;
}
/* Right Nav Menus */
.NavBox {
	padding: 0px;
	margin: 0px 0px 20px 0px;
	position: relative;
	width: 308px;
	overflow: hidden;
}
.NavHead {
	background-image: url('../theme/navtop.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	width: 308px;
	height: 36px;
	position: relative;
	overflow: hidden;
}
.NavHeadTitle {
	margin: 12px auto 0px auto;
	width: 286px;
	height: 16px;
	position: relative;
	overflow: hidden;
	padding: 0px;
	font-weight: bold;
	color: #737373;
	text-decoration: none;
	text-align: right;
	list-style-type: none;
}
.NavFiller {
	background-image: url('../theme/navmid.jpg');
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	width: 308px;
	position: relative;
	overflow: hidden;
}
.NavFooter {
	background-image: url('../theme/navbtm.jpg');
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	width: 308px;
	height: 23px;
	position: relative;
	overflow: hidden;
}
.NavInfo {
	color: #585858;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 5px auto 5px auto;
	position: relative;
	width: 286px;
	overflow: hidden;
}
.nav-menu {
	background-image: url('../theme/navmid.jpg');
	background-repeat: repeat;
	padding: 0px;
	margin: 0px;
	width: 308px;
	position: relative;
	overflow: hidden;
}
.nav-menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav-menu li {
	padding: 0px;
	margin: 0px auto 0px auto;
	width: 298px;
	height: 24px;
	position: relative;
	overflow: hidden;
	list-style-type: none;
	text-align: right;
	line-height: 22px;
}
.nav-menu li a {
	color: #585858;
	text-decoration: none;
	margin-right: 30px;
}
.nav-menu ul li a:visited {
	color: #585858;
}
.nav-menu ul li a:hover, .menu ul li .current {
	color: #D56C01;
	text-decoration: none;
	list-style-type: none;
}
.Level1 {
	background-image: url('../theme/level1.jpg');
	background-repeat: no-repeat;
}
.Level2 {
	background-image: url('../theme/level2.jpg');
	background-repeat: no-repeat;
}
/* Footer Content */
#ft-Left {
	padding: 4px;
	margin: 18px 0px 0px 25px;
	width: 280px;
	position: relative;
	height: 90px;
	float: left;
	overflow: hidden;
	text-align: left;
}
#ft-Mid {
	padding: 4px;
	margin: 18px 0px 0px 15px;
	width: 320px;
	position: relative;
	height: 90px;
	float: left;
	overflow: hidden;
	text-align: center;
}
#ft-Right {
	padding: 4px;
	margin: 18px 0px 0px 15px;
	width: 280px;
	position: relative;
	height: 90px;
	float: left;
	overflow: hidden;
	text-align: right;
}
.ft-font-title {
	font-weight: bold;
	margin: 4px 0px 4px 0px;
	padding: 0px;
	color: #666666;
}
.ft-font-p {
	padding: 0px;
	margin: 4px 0px 4px 0px;
	color: #666666;
}
